<footer>
     <div> 
            <% footer.forEach(function(footer) { %>
        
                <p><%= footer.navn %> </p>
                <p><%= footer.vej %> </p>
                <p><%= footer.by %> </p>
                <p><%= footer.tlf %> </p>
                <p><%= footer.email %> </p>
            
         <% }) %>
    </div>
</footer>